@import url('https://fonts.googleapis.com/css2?family=Inter:wght@400;700&display=swap');

*{

    margin: 0px;
    padding: 0;
    box-sizing: border-box;
    font-family: 'Inter';



}


.main{
    
    width: 100vw;
    height: 100vh;
    display: flex;
    align-items: center;
    justify-self: center;
    background: #201b2c;


}

.left{

  width: 50vw;
  height: 100vh;
  display: flex;
  align-items: center;
  justify-content: center;
  flex-direction: column;
  
}
.left > h1 {
    color: #77ffc0;
}

img{
    max-height: 80%;
    min-height: 60%;

}

